/* CUSTOM STYLES BELOW */

.footer-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-logo > div {
  color: var(--color-nav-foreground);
  font-weight: 800;
  font-size: 18px;
}

.footer-logo svg {
  width: 2.25rem;
  height: 2.25rem;
  fill: var(--color-nav-foreground);
}

.footer-sitemap {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.footer-sitemap .footer-sitemap-text {
  color: var(--color-footer-label);
}

.footer-sitemap-left,
.footer-sitemap-right,
.footer-sitemap-item {
  display: grid;
  margin: 2rem 0 1.5rem 0;
}

.footer-sitemap-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer-sitemap-left {
  grid-template-rows: auto 1fr;
  margin-right: 1rem;
}

.footer-sitemap-right {
  margin-left: 1rem;
}

.footer-sitemap-left,
.footer-sitemap-right {
  row-gap: 0.5rem;
}

.footer-sitemap-left {
  white-space: nowrap;
}

.footer-sitemap-right {
  max-width: 12rem;
  text-align: right;
}

.top-list-wrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.file-uploader-row .lx-invalidation-message{
  display: block;
  overflow: visible;
  max-height: 12.5rem;
  color: var(--color-bad);
  font-size: var(--small-font-size);
  font-weight: 400;
  letter-spacing: var(--letter-spacing-1);
  margin-top: .1rem;
  cursor: auto;
}

.form-custom-footer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
.form-custom-footer > div{
  display: flex;
  gap: 1rem;
}

.form-custom-footer .lx-button{
  min-width: 12rem !important;
}

/* Verification */

.lx-button.verify-button {
  --button-primary-width : 100%;
  --button-primary-margin: 1rem 0 0 0;
}

.lx-list-wrapper .date-wrapper{
  padding-right: 1rem;
}
.lx-list-wrapper .date-wrapper svg{
  height: 1rem;
  fill: var(--color-label);
}
.cred-list-wrapper .lx-list-wrapper .lx-state-icon{
  margin-top: 7px;
}

@media (max-width: 800px) {
  .footer-sitemap {
    flex-direction: column;
  }

  .footer-sitemap-item {
    margin: 0 0 1rem 0;
  }

  .footer-sitemap-right {
    margin: 0 0 2rem 0;
  }

  .footer-sitemap-right {
    text-align: left;
  }

  .top-list-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .form-custom-footer,
  .form-custom-footer > div {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .top-list-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}